.navbar {
    margin-bottom: 0px;
}

.social {
    font-size: 18px;
}

.showcase {
    background: url(../img/showcase.jpg);
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-size: cover;
    height: 600px;
    padding: 30px 0;

    h1 {
        font-size: 4em;
    }

    .container {
        background: #fff;
        opacity: 0.8;
        padding: 30px;
    }
}

.section-a {
    background-color: $main-color;
    text-align: center;
    padding: 30px;
    color: set-text-color($main-color);

    .section-icon {
        font-size: $icon-size;
    }
}

.section-b {
    background-color: #e6ebf1;
    padding: 30px;

    img {
        width: 100%;
    }
}

.panel-heading h4 {
    color: set-text-color($main-color);
}

.section-c {
    padding: 60px 0;
    background-color: $main-color;
    text-align: center;
    color: set-text-color($main-color);

    .btn-primary {
        background-color: darken($main-color, 10%);
    }
}

footer {
    background-color: darken($main-color, 10%);
    color: set-text-color($main-color);
    padding: 30px;
}